:root {
  --link-color: #1076d9;
  --monospace-font: monospace;
  --body-font: 'Geologica', sans-serif;
  --body-text-color: #000;
}

body {
  font-family: var(--body-font);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--body-text-color);
}

a {
  color: var(--link-color);
  padding: 3px 0;
}

a:hover {
  color: #fff;
  background-color: var(--link-color);
}

p {
  margin-bottom: 1.3em;
}

code {
  background: #e3e3e3;
}

pre,
code {
  font-family: monospace !important;
}

ol {
  list-style: number;
}

.innerContainer {
  margin: 0 auto;
  padding: 16px 0;
  width: calc(100% - 48px);
  max-width: 800px;
}

.headerLink {
  font-weight: bold;
  font-family: var(--monospace-font);
  text-decoration: none;
}
