.header {
  position: sticky;
  top: 0;
  background: var(--main-background-color);
  backdrop-filter: blur(4px);
}

.headerRightColumn {
  display: flex;
  align-items: center;
}

.headerLink {
  font-weight: bold;
  color: var(--body-text-color);
  text-decoration: none;
  display: inline-block;
}

.headerInnerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLink {
  margin-right: 16px;
  color: var(--body-text-color);
  text-decoration: none;
}

.navLogo {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background: var(--body-text-color);
  padding: 4px 8px;
}
