h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.67em -0.7rem;
  font-family: var(--monospace-font);
  display: inline-block;
  padding: 0 0.7rem;
  background: var(--link-color);
  color: #fff;
}
